/* Main Styles */

body, html {
  font-family: 'Quicksand', sans-serif;
}

/* Headers Styles */

.navbar-default {
  background: none;
  border: none;
  margin-top: 20px;
}

.navbar-nav {
  margin-top: 3px;
}

.header_logo {
  height: 25px;
}

.page-content {
  padding: 13px;
}


/* Pages Styles */

.info-block {
  text-align: center;
  font-size: 10px;
  color: #666;
  padding-top: 10px;
}

button.kep-login-facebook.metro {
  border-radius: 5px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  margin: 10px 0;
  height: 65px;
}

button.google_login_btn {
  width: 100%;
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  background: rgb(209, 72, 54);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  height: 65px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
}

div.central_part {
  margin: 35px 0;
}

.block_body .link {
  float: left;
  width: 300px;
  padding-top: 8px;
  color: #999;
}

button.block_btn {
  margin: 0 15px;
  color: #999;
}

.block_footer span {
  font-size: 12px;
  color: #888;
  padding-top: 10px;
}

.block_visitors {
  font-size: 50px;
  padding-top: 15px;
  color: rgba(64, 255, 202, 0.62);
}

.block_vis_row {
  border-left: 1px solid #e2e2e2;
  padding-bottom: 15px;
}

.block_vis_link {
  padding-top: 5px;
}

.block_vis_info {
  padding: 20px;
}

h4.list-group-item-heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  padding-top: 7px;
}

li.list-group-item {
  border-bottom: 5px solid rgba(64, 255, 202, 0.62);
  border-color: rgba(208, 255, 242, 0.62);
  color: #999;
}

li.list-group-item a {
  color: #999;
}

button.edit_modal_btn {
  width: 300px;
}

/* Footer Styles */

.footer {
  color: #999;
  margin: 14px;
  padding-top: 30px;
  border-top: 2px solid rgba(64, 255, 202, 0.62);
}

.footer_left a {
  padding: 0px 20px 0 0;
  color: #999;
}

img.footer_logo {
  height: 65px;
}